[package]
name = "hanzo-test-macro"
version = "0.1.1"
edition = "2021"
publish = false

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }
hanzo-test-framework = {path = "../hanzo-test-framework", version = "0.1.1"}
